
  <div id="password-section">
    <div id="password-prompt">
      <h2>{{ 'Enter Password to Access' }}</h2>
      <input type="password" id="password-input" placeholder="Enter password" />
      <input type="checkbox" id="show-password"> Show Password
      <br><br>
      <button onclick="checkPassword()">Submit</button>
      <p id="error-message" style="color: red; display: none;">Incorrect password. Please try again.</p>
    </div>
  </div>

  <script>
    const correctPassword = '{{ 'IE-THANKYOU' }}'; 

    function checkPassword() {
      const input = document.getElementById('password-input').value;
      const errorMessage = document.getElementById('error-message');
      const passwordSection = document.getElementById('password-section');
      const contentPlaceholder = document.getElementById('content-placeholder');

      if (input === correctPassword) {
        localStorage.setItem('rememberedPassword', correctPassword);
        passwordSection.style.display = 'none';
        errorMessage.style.display = 'none';
        contentPlaceholder.style.display = 'block'; // Show the content
        setTimeout(() => {
          location.reload(); // Reload the page
        }, 100); // Delay the reload to ensure passwordSection gets hidden
      } else {
        errorMessage.style.display = 'block';
        passwordSection.style.display = 'block';
      }
    }

    document.getElementById('show-password').addEventListener('change', function() {
      const passwordInput = document.getElementById('password-input');
      passwordInput.type = this.checked ? 'text' : 'password';
    });

    document.addEventListener('DOMContentLoaded', function() {
      const rememberedPassword = localStorage.getItem('rememberedPassword');
      const contentPlaceholder = document.getElementById('content-placeholder');
      const passwordSection = document.getElementById('password-section');
      if (rememberedPassword === correctPassword) {
        passwordSection.style.display = 'none';
        contentPlaceholder.style.display = 'block'; // Show the content
      } else {
        passwordSection.style.display = 'block';
        contentPlaceholder.style.display = 'none'; // Hide the content
      }
    });
  </script>

  <div id="content-placeholder" style="display: none;">
    {{ content_for_layout }}
  </div>

