<div id="password-section">
  <div id="password-prompt">
    <h2>{{ section.settings.prompt_heading }}</h2>
    <input type="password" id="password-input" placeholder="Enter password" />
    <input type="checkbox" id="show-password"> Show Password
    <br><br>
    <button onclick="checkPassword()">Submit</button>
    <p id="error-message" style="color: red; display: none;">Incorrect password. Please try again.</p>
  </div>
</div>
{% style %}
  #password-prompt {text-align: center; margin-bottom: 40px; padding: 40px 0;}
{% endstyle %}
<script>
  const correctPassword = '{{ section.settings.correct_password }}'; // Get the password from settings

  function checkPassword() {
    const input = document.getElementById('password-input').value;
    const errorMessage = document.getElementById('error-message');
    const passwordSection = document.getElementById('password-section');

    if (input === correctPassword) {
      localStorage.setItem('rememberedPassword', correctPassword);
      passwordSection.style.display = 'none';
      errorMessage.style.display = 'none';
      location.reload(); // Refresh the page
    } else {
      errorMessage.style.display = 'block';
    }
  }

  document.getElementById('show-password').addEventListener('change', function() {
    const passwordInput = document.getElementById('password-input');
    if (this.checked) {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  });

  // Initially hide the MainContent and check if password is remembered
  document.addEventListener('DOMContentLoaded', function() {
    const rememberedPassword = localStorage.getItem('rememberedPassword');
    if (rememberedPassword === correctPassword) {
      document.getElementById('password-section').style.display = 'none';
      document.getElementById('MainContent').style.display = 'block';
    } else {
      document.getElementById('MainContent').style.display = 'none';
      document.getElementById('password-section').style.display = 'block';
    }
  });
</script>



{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "text",
      "id": "prompt_heading",
      "label": "Prompt Heading",
      "default": "Enter Password to Access"
    },
    {
      "type": "text",
      "id": "correct_password",
      "label": "Password",
      "default": "yourpassword"
    }
  ],
  "presets": [
    {
      "name": "Password"
    }
  ]
}
{% endschema %}
