<div class="yotpo-widget-instance" data-yotpo-instance-id="249919"></div>


{% if page.handle == "rewards" %}
<style>
.MainContent{
  margin: 0 !important;
}

  section.page-footer{
    margin: 0 !important;
  }
</style>
{% endif %}